/* rgba doesn't work in all browsers. Use RGB, then RGBA */
/* These are inputs for classes and ID's */

* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  color: white;
  font-family: 'Cinzel', serif;
}

body {
	background-color: rgb(202, 221, 161);
}

button {
	border: none;
	background-color: transparent;
	outline: none;
	margin: 10px;
	padding: 5px;
}

div.banner{
	width: 50%;
	background-color: rgba(0, 0, 0, .5);
	margin: 50px auto;
	height: 420px;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
}

div.content{
	width: 50%;
	background-color: rgba(0, 0, 0, .5);
	font-family: 'Actor', sans-serif;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
}

.header{
	padding: 20px;
}

div.navigation{
	margin: 70px;
}

.schedDet{
	padding: 15px;
}

#schedCont{
	padding: 30px;
}

#aboutCont{
	padding: 30px;
}

#mediaCont{
	padding: 30px;
}

#lessCont{
	padding: 30px;
}

#projectName{
	font-size: 70px;
}

iframe{
	margin: 10px;
}

#dudeImage{
	position: fixed;
	bottom: 0px;
	right: 0px;
}